
span{
  color:red;
}
input[type=text]{
  width:300px;
  height:30px;
  border-radius:5px;
}
.frontend{
text-align:center;
font-family:Monospace;
}
p{
  font-family:Monospace;
}
button{
  color:white;
  background:red;
  width:300px;
  margin-top:20px;
  padding:10px 10px;
  border-radius:5px;
}